.app-dark-theme {
  --bg-color: #212121;
  --inverted-bg-color: #424243;
  --primary-color: #fff;
  --secondary-color: #a6b45a;
  --inverted-primary-color: #e1ed9c;
  --inverted-secondary-color: #00620f;
}