.app.dark {
  --bg-color: #414142;
  --inverted-bg-color: #d0d0d1;
  --primary-color: #3fb802;
  --secondary-color: #5f0;
  --inverted-primary-color: #0021c3;
  --inverted-secondary-color: #005eff;
}
